body {
  /*background-color: pink;*/
  background-image: url("https://gas-kvas.com/grafic/uploads/posts/2023-09/1695978653_gas-kvas-com-p-kartinki-soti-33.jpg");
  background-size: cover;
}


.addnote-button {
  text-decoration: none;
  display: inline-block;
  padding: 12px 40px;
  margin: 10px 20px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 100% 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

.addnote-button:hover {
  color: white;
  text-decoration: none;
}

dialog {
    width: 600px;
    height: fit-content;
    max-height: 90%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.large-text {
    height: 250px;
    width: 100%;
}

.header {
  text-decoration: bold;
  font-size: 20px;
}

.col-md6 border rounded {
  height: 200px;
  margin: 0 auto;
}

.holochka {
  width: auto;
  max-width: 40rem;
  height: fit-content;
  color: red;
  /*background-color: orange;*/
  margin: 1rem 15px;
  padding: 1rem;
  /*border-radius: 30%;*/
  border: 1px solid gray;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.93)
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 90%;
}

.note-text {
  font-size: 1.2rem;
}

.main_header {
  margin: 1rem;
  color: white;
  text-shadow: darkred 2px 5px;/*1px 0px 10px pink;*/
}

.r1 {
  position: relative;
  right: 0;
  left: auto;
}

#r2 {
  justify-content: right;

}

.navbar {
  background-color: rgba(255, 255, 255, 0.65);
}

.role-label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

.card {
  margin-top: 1rem;
}

.delete-form {
  position: static;
}

.login_form, .register-form {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 4rem;
}

.login_form input, .register-form input {
  max-width: 60%;
  margin: auto;
  text-align: center;
}
