.addnote-button {
  text-decoration: none;
  display: inline-block;
  padding: 12px 40px;
  margin: 10px 20px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 100% 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

.addnote-button:hover {
  color: white;
  text-decoration: none;
}

dialog {
    width: 600px; /* Ширина диалогового окна */
    height: 600px; /* Высота диалогового окна */
    background-color: #f0f0f0; /* Цвет фона диалогового окна */
    border: 1px solid #ccc; /* Граница диалогового окна */
    border-radius: 5px;
}

.large-text {
    height: 250px;
    width: 100%;
}

.header {
  text-decoration: bold;
  font-size: 24px;
}

.col-md6 border rounded {
  height: 200px;
  margin: 0 auto;
}

.holochka {
  width: auto;
  max-width: 15rem;
  height: 6rem;
  color: red;
  background-color: orange;
  margin: 1rem 30px;
  padding: 1rem;
  border-radius: 30%;
  border: 1px solid black;
  text-align: left;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.peshka {
  font-size: 1.2rem;
}

.main_header {
  margin: 1rem;
}