<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="/logout">Выйти</a>
        <button class="addnote-button" id="show-dialog-btn">Добавить заметку</button>
        <!--Вызов диалогового окна-->
        {% block modal %}{% endblock %}
        {% else %}
    <p>
        <!--<a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
        $(this).css("background-color", "white");-->
    </p>
{% endif %}

    </nav>
</header>
<!-- Begin page content -->
<h1 class="main_header">Заметки</h1>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.0/jquery-ui.min.js"></script>
<script>
    $('.holochka').click(function(){
$(this).css("color", "yellow");
$(this).css("font", "14em");
$(this).css("overflow-y", "scroll");
$(this).draggable();
});
</script>
</body>
</html>
