{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<h1 class="main_header">Заметки</h1>
<div class="container" >
{% for item in notes %}
<!--TODO: Добавить изменение координат при перезагрузке страницы-->

        <div class="card holochka"
                 {% if not item.was_changed %} style="position: static"
        {% else %}  style="position: relative; left:{{ item.left }}px; top:{{ item.top }}px;" {% endif %}>
            <div class="card-header header">
              {{ item.header }}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{ item.text }}</p>
                <footer class="blockquote-footer">{{ authors[item.user_id - 1] }}</footer>
              </blockquote>
            </div>
            <form method="post" action="/delete" class="delete-form">
        {{ delete_form.hidden_tag() }}
        {{ delete_form.id(value=item.id) }}
        {{ delete_form.submit(type="submit") }}
    </form>
        </div>
</div>
{% endfor %}

{% else %}
<h1 class="main_header">Новости</h1>
<div class="container">
{% for item in notes %}
<!--TODO: style обернуть в проверку на изменение координат в бд. По умолчанию координаты не меняются-->
    {% if item.note_type == "news" %}
        <div class="card holochka" style="left: 25px; position: static; top: 25px;">
            <div class="card-header header">
              {{ item.header }}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{ item.text }}</p>
                <footer class="blockquote-footer">{{ authors[item.user_id - 1] }}</footer>
              </blockquote>
            </div>
            {% endif %}

        </div>
    {% endfor %}

</div>
{% endif %}


{% endblock %}


<{% block modal %}
<dialog id="my-dialog">
    <form action="" method="post">
        {{ add_form.hidden_tag() }}
    <h1>Новая заметка</h1>
    <p>
    <b>{{ add_form.header.label }}</b><br>
    {{ add_form.header(class="form-control") }}<br>
    {% for error in add_form.header.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <b>{{ add_form.text.label }}</b><br>
        {{ add_form.text(class="large-text") }}<br>
        {% for error in add_form.text.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
        {% if current_user.role == "admin" %}
        <p>
            <b>{{ add_form.note_type.label }}</b><br>
            {{ add_form.note_type(class="btn btn-primary") }}<br>
            {% for error in add_form.note_type.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        </p>
        {% endif %}
        <br>
        <br>
    <p>{{ add_form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
    </form>
  <button id="close-dialog-btn" class="btn btn-danger" formaction="/">Закрыть</button>
</dialog>


<script>
  const showDialogBtn = document.querySelector('#show-dialog-btn');
  const myDialog = document.querySelector('#my-dialog');
  const closeDialogBtn = document.querySelector('#close-dialog-btn');

  showDialogBtn.addEventListener('click', () => {
    myDialog.showModal();
  });

  closeDialogBtn.addEventListener('click', () => {
    myDialog.close();
  });


</script>
{% endblock %}>
