{% extends "base.html" %}

{% block content %}

{% for item in notes %}
<div class="col-md6 border rounded holochka">

    <div class="header">
        {{item.header}}
    </div>

    <div>
        <p class="note-text">{{item.text}}</p>
    </div>
    <form method="post" action="/delete" >
        {{ delete_form.hidden_tag() }}
        {{ delete_form.id(value=item.id) }}
        {{ delete_form.submit(type="submit") }}
        <!--<input type="hidden" value={{item.id}}>
        <input type="submit" value="Удалить">-->
    </form>
</div>
{% endfor %}

{% endblock %}


<{% block modal %}
<dialog id="my-dialog">
    <form action="" method="post">
        {{ add_form.hidden_tag() }}
    <h1>Новая заметка</h1>
    <p>
    {{ add_form.header.label }}<br>
    {{ add_form.header(class="form-control") }}<br>
    {% for error in add_form.header.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ add_form.text.label }}<br>
        {{ add_form.text(class="large-text") }}<br>
        {% for error in add_form.text.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ add_form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
    </form>
  <button id="close-dialog-btn">Закрыть</button>
</dialog>


<script>
  const showDialogBtn = document.querySelector('#show-dialog-btn');
  const myDialog = document.querySelector('#my-dialog');
  const closeDialogBtn = document.querySelector('#close-dialog-btn');

  showDialogBtn.addEventListener('click', () => {
    myDialog.showModal();
  });

  closeDialogBtn.addEventListener('click', () => {
    myDialog.close();
  });


</script>
{% endblock %}>
